<%= link_to "Add a new Todo", new_todo_path %>

<ul class = "todos">
	<%= @todos.each do |todo| %>
		<li class = "<%= "completed" if todo.completed? %>">
			<%= todo.title %>
			<% if todo.completed? %>
				<%= button_to "Mark incomplete", todo_completion_path(todo), method: :delete %>
			<% else %>
				<%= button_to "Mark complete", todo_completion_path(todo) %>
			<% end %>
		</li>
	<% end %>
</ul>